* {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.aaa {
  text-decoration-line: underline;
  text-decoration-color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}
a {
  list-style-type: none;
  text-decoration: none;
}
li {
  list-style-type: none;
  text-decoration: none;
}
.main_header {
  position: fixed;
}
header {
  background-color: rgb(233, 103, 17);
  height: 70px;
  width: 100vw;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin: 7px 0px 0px 60px;
  background-color: rgba(255, 255, 255, 0.329);
  border-radius: 50px;
  width: 100px;
  text-align: center;
}
.logo a {
  color: white;
  font-size: 3rem;
}
.nav_1 ul {
  display: flex;
}
.nav_1 ul li {
  display: flex;
  margin: 0px 10px 0px 50px;
}
.nav_1 ul li a {
  color: white;
  font-size: 1.7rem;
}
.nav_1 a:hover {
  text-decoration-line: underline;
}
.nav_1_1 {
  margin: 0px 70px 0px 0px;
}
.buregrMenu_icon {
  margin: 0px 70px 0px 0px;
  display: none;
  cursor: pointer;
}
.buregrMenu_icon div {
  width: 50px;
  height: 8px;
  margin: 5px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
  border-radius: 40px;
}
.nav_2 {
  display: none;
  background-color: rgb(233, 103, 17);
  height: 180px;
  text-align: center;
  overflow: hidden;
  border: 2px solid rgba(250, 196, 160, 0.164);
}
.nav_2 ul {
}
.nav_2 ul li {
}
.nav_2 ul li a {
  color: white;
  font-size: 1.7rem;
}
.nav_2_2 ul li {
  margin: 20px 0px 0px 0px;
}

/* ////////////////////////////header */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0px 0px 0px;
}
.userDiv {
  text-align: center;
  height: 450px;
  width: 300px;
  background-color: rgb(82, 81, 81);
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.userDivAvatar {
  height: 225px;
  /* background-color: red; */
}
/* .userAvatar {
  height: 134px;
  border-radius: 20px;
  margin: 35px 0px 0px 0px;
} */
.status_online {
  height: 134px;
  border-radius: 20px;
  margin: 35px 0px 0px 0px;
  border: 4px solid rgb(0, 255, 0);
  box-shadow: 0px 0px 20px green;
}
.status_idle {
  height: 134px;
  border-radius: 20px;
  margin: 35px 0px 0px 0px;
  border: 4px solid rgb(255, 187, 0);
  box-shadow: 0px 0px 10px yellow;
}
.status_dnd {
  height: 134px;
  border-radius: 20px;
  margin: 35px 0px 0px 0px;
  border: 4px solid rgb(255, 0, 0);
  box-shadow: 0px 0px 20px rgb(255, 0, 0);
}
/* .Role_STAFF {
  color: rgb(72, 255, 0);
} */
.Role_STAFF {
  color: rgb(72, 255, 0);
  margin: 30px 0px 10px 0px;
}
.Name_STAFF {
  color: rgb(72, 255, 0);
}
.Role_Founder {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
  margin: 30px 0px 10px 0px;
}
.Name_Founder {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 20px rgb(255, 255, 255);
}
.Role_OWNER {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px #ffffff;
  margin: 30px 0px 10px 0px;
}
.Name_OWNER {
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 10px #ffffff;
}
.Role_BOT {
  color: rgba(255, 255, 255, 0.336);
  margin: 30px 0px 10px 0px;
}
.Name_BOT {
  color: rgba(255, 255, 255, 0.336);
}
.Role_Fans {
  color: rgb(255, 251, 0);
  text-shadow: 0px 0px 20px yellow;
  margin: 30px 0px 10px 0px;
}
.Name_Fans {
  color: rgb(255, 251, 0);
}
.h3_status_online {
  color: rgb(0, 255, 0);
}
.h3_status_idle {
  color: rgb(255, 187, 0);
}
.h3_status_dnd {
  color: rgb(255, 0, 0);
}
@media screen and (max-width: 800px) {
  .nav_1 {
    display: none;
  }
  .nav_2 {
    display: block;
  }
  .buregrMenu_icon {
    display: block;
  }
  .nav_2 {
    display: none;
  }
  .nav_2_show {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .buregrMenu_icon {
    margin: 0px 40px 0px 0px;
  }
  .logo {
    margin: 7px 0px 0px 20px;
  }
}
@media screen and (max-width: 350px) {
  .userDiv {
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: rgb(82, 81, 81);
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  .userDivAvatar {
    height: 200px;
    /* background-color: red; */
  }
  .buregrMenu_icon {
    margin: 0px 38px 0px 0px;
  }
  .logo {
    margin: 7px 0px 0px 10px;
  }
}
